*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    background-color: #E3E6E6;
}

.navbar{
    background-color: #131921;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-logo{
    height: 50px;
    width: 100px;
    margin: 10px;
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
    cursor: pointer;
}

.navbar-logo img{
    height: 50px;
    width: 100%;
}

.nav-address{
    height: 50px;
    width: 90px;
    border: 1px solid transparent;
    color: white;
    padding: 0.40rem;
}


.first-add{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 18px;
}

.second-add{
    margin-left: 5px;
    font-size: 1rem;
}

.add-icon{
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
}

.nav-search{
    height: 40px;
    width: 900px;
    display: flex;
    margin-left: 20px;
    justify-content: space-evenly;
}

.search-category{
    position: relative;
    left: 8px;
    width: 50px;
    font-size: 0.85rem;
    padding: 5px;
    color: rgb(137, 134, 134);
    background-color: #D4D4D4;
    border-radius: 5px 0 0 5px;
    border: none;
    cursor: pointer;
}

.search-category:hover{
    color: #131921;
    
}

.search-bar{
    width: 800px;
    border: none;
    padding: 20px;
    font-size: 0.85rem;
}

.search-icon{
    background-color: #FEBD69;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-icon:hover{
    background-color: #fda12a;
}

.lang{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang-select{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.language{
    color: black;;
}

.account{
    color: white;
    height: 50px;
    width: 130px;
    border: 1px solid transparent;
}

.account-name{
    font-size: 0.85rem;
    margin-left: 10px;
    margin-top: 10px;
}

.account-lists{
    position: relative;
    bottom: 4px;
}

.account-select{
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}

.returns-box{
    color: white;
    height: 50px;
    width: 80px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.returns{
    font-size: 0.85rem;
    margin-right: 10px;
}

.orders{
    font-size: 0.90rem;
    font-weight: bold;
    position: relative;
    bottom: 2px;
}

.cart{
    color: white;
    height: 50px;
    width: 80px;
    border: 1px solid transparent;
    display: flex;
}

.cart-name{
    font-size: 0.95rem;
    margin-top: 17px;
    margin-left: -6px;
    font-weight: bold;

}


.second-nav{
    background-color: #232F3E;
    height: 40px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

.all-nav {
    display: flex;
    height: 40px;
    width: 60px;
    margin-left: 20px;
    border: 1px solid transparent;
    align-items: center;
}

.all{
    font-size: 0.90rem;
    margin-left: 5px;
    margin-bottom: 2px;
    
}

.todays-deal{
    height: 40px;
    width: 100px;
    text-align: center;
    padding: 10px 0; 
    font-size: 0.85rem;
}

.customer-service{
    height: 40px;
    width: 130px;
    text-align: center;
    padding: 10px 0; 
    font-size: 0.85rem;
}

.registry{
    height: 40px;
    width: 70px;
    text-align: center;
    padding: 10px 0; 
    font-size: 0.85rem;
}

.gift-cards{
    height: 40px;
    width: 80px;
    text-align: center;
    padding: 10px 0; 
    font-size: 0.85rem;
}

.sell{
    height: 40px;
    width: 40px;
    color: white;
    text-align: center;
    padding: 10px 0; 
    font-size: 0.85rem;
}

.hero-section{
    display: flex;
    margin: 0 10px;
    overflow: hidden;
}

.frame{
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.slider{
    display: flex;
    transition: all 1s ease;
}

.slider::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; /* Adjust the fade height */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  }

.slide-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.left-btn{
    height: 250px;
    width: 5%;
    position: absolute;
    transform: rotate(180deg);
    border: 2px solid transparent;
}

.left-btn:active{
    border: 2px solid rgb(48, 96, 241);
}

.left-btn img{
    object-fit: cover;
    height: 40px;
    width: 40px;
    margin-top: 100px;
    margin-left: 25px;
    filter: brightness(0) invert(1);

}

.right-btn{
    height: 250px;
    width: 5%;
    margin-left: 93.8%;
    position: absolute;
    border: 2px solid transparent;
}

.right-btn:active{
    border: 2px solid rgb(48, 96, 241);
}

.right-btn img{
    object-fit: cover;
    height: 40px;
    width: 40px;
    margin-top: 100px;
    margin-left: 22px;
    filter: brightness(0) invert(1);
}

.first-grid{
    position: absolute;
    width: 100%;
    bottom: 400px;
}

.grid-box1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: absolute;
    width: 100%;
    padding: 30px;

}

.grid-items{
    background-color: whitesmoke;
    height: 410px;
    width: 100%;
    cursor: pointer;
}

.main-content{
    height: 420px;
    margin: 10px;
}

.grid-item-title{
    font-size: 1.3rem;
    padding: 10px;
    font-weight: bold;
    height: 45px;
}


.grid-item-img{
    height: 300px;
    width: 310px;
    margin-left: 10px;
}

.grid-item-img img{
    width: 310px;
    height: 300px;
    object-fit: cover;
}

.grid-item-footer{
    height: 50px;
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
}

.grid-item-footer a{
    text-decoration: none;
    margin-left: 5px;
    color: #035fab;
    font-size: 0.85rem;
}

.grid-item-footer a:hover{
    color: #0E3554;
}

.grid-box2{
    height: 300px;
    width: 100%;
    margin-top: 540px;
}

.grid-items2{
    background-color: white;
    height: 280px;
    margin: 0 30px;
}

.grid-item2-title{
    height: 60px;
    padding: 30px 0 0 20px;
    font-size: 1.15rem;
    font-weight: bold;

}

.grid-item2-title a{
    text-decoration: none;
    padding-left: 10px;
    font-size: 0.85rem;
    color: #035fab;
}

.items2{
    display: flex;
    margin: 0 20px;    
}

.main-content2{
    height: 200px;
    width: 200px;
}

.grid-box3{
    height: 280px;
    width: 100%;
}
